:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;

  background-color: black;
}

.board {
  display: grid;
  grid-template: repeat(3, 10rem) / repeat(3, 10rem);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;

  font-weight: bold;
  font-size: 12rem;

  background-color: transparent;
}

.x {
  color: blue;
}

.o {
  color: red;
}
